<div>
  <div class="vote_box"><%= object.votes.count %></div>
  <div class="link-drop"><%= object.name %> - <%= object.url %>
  <%= link_to "Vote", link_votes_path(object), :data => {:method => "post", :class => "glyphicon glyphicon-hand-up"} %>
  </div>
</div>
